/* @import url('https://fonts.googleapis.com/css?family=Josefin+Sans'); */

.container{
 display: flex;
 /* border: 2px solid black; */
 background: rgb(249, 249, 249);
}
.box1{
    /* border: 1px solid orangered; */
    width: 28%;
    
}
.box2{
    width: 14%;
    /* border: 1px solid orange; */
}
.box3{
    width: 15%;
    /* border: 1px solid blue; */
}
.box4{
    width: 18%;
    /* border: 1px solid orangered; */
   
    
}
.socialMedia{
  display: flex;
}
.box5{
    width: 22%;
    /* border: 1px solid black; */
    
}
/* img{
    
    height: 13%;
    width: 45%;
} */

.footer_text_clr{
    color: rgb(102, 102, 102);
}
/* 
@media only screen and (min-width: 521px) and (max-width: 992px){

    .container{

        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,1fr);
    }
    
}


@media only screen and (min-width: 0px) and (max-width: 520px){

    .container{

        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(1,1fr);
    } 
    
} */


